/* header and navigation style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.max-width{
    width: 1140px;
    margin: 0 auto;
}

/* header style */

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
nav ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
.header{
    background: #ff900e1a;;
    max-width: 100%;
}
.banner {
    text-align: center;
    margin-top: 50px;
    
}
.btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #ff6600f6;
    color: white;
    border: 0;
    margin-top: 20px;
    
}
.banner-img img{
    width: 1140px;
    margin-top: 41px;
}

/* responsive */
@media screen and (max-width:776px) {
    .max-width{
        width: 100%;
        padding: 0 5px;
    }
    nav{
        display: block ;
    }
    .banner-img img{
        width: 100%;
    }
}
/* team section */
.team-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
    margin-top: 50px;

}

.spn{
    color: #131313;
    font-size: 45px;
    font-weight: 500;
}

.spn-too{
    color: #FF900E;
    font-size: 45px;
    font-weight: 500;
}
.primary-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #ff6600f6;
    color: white;
    border: 0;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    border-radius: 8px;
}

.team-images img{
    width: 100%;
}

/* responsiv */
    @media screen and (max-width:776px) {
        .max-width{
            width: 100%;
            padding: 0 5px;
        }
.team-section{
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 60px;
}

.team-images{
    grid-template-columns: repeat(1,1fr);
    border-radius: 8px;
}
}

/* section container */
.enjoy{
    display: grid;grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 130px;
}
.container-box{
    border: 1px solid;
    margin-bottom: 20px;
}

.section-container-title{
    color: #131313;
    font-weight: 700px;
    font-size: 45px;
}
.container-title{
    color: #131313;
    font-weight: 600px;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.container-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400px;
    padding: 0 12px 12px 12px;
}
.container-banner img{
    width: 100%;
}
.sub-primary-btn{
    position: relative;
    align-items: center;
    width: 250px;
    height: 120px;
    background: orange;
    color: white;
    bottom: 10%;
    left: -50px;

}
.spn-praimary{
    font-size: 64px;
    font-weight: 700;
}

/* responsiv */
@media screen and (max-width:776px) {
    .max-width{
        width: 100%;
        padding: 0 5px;
    }
    .enjoy{
        display: grid;grid-template-columns: repeat(1, 1fr);
        gap: 90px;
    }
    .container{
        display: block ;
        margin-top: 30px;
    }
}

/* grow-build section css */
.build{
    margin-top: 50px;
    background-color: #131313;
    color: #fff;
    padding: 30px 12px;
}
.grow-build{
    text-align: center;
}

.kind{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;

}

.kind ul li{
    list-style: none;
    margin-bottom: 18px;
}

.fa-icon .right{
    color: #FF900E;
}

.dereactory .right{
    color: #FF900E;
}
/* responsive */
@media screen and (max-width:776px) { 
    .kind{
        display: block ;
    
    }
}
/* Some Facts section style */
.text-center{
    text-align: center;
    margin-top: 50px;
}

.Facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.img-facts{
    border: 1px solid;
    padding: 12px;
    transition: .3s;
}

.img-facts:hover{
    background-color: #FF900E;
    color: #fff;
}

.f-size{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 12px;
}

/* responsiv */
    
@media screen and (max-width:776px) {
    .max-width{
        width: 100%;
        padding: 0 5px;
    }
    .Facts{
        display: grid;
        gap: 60px;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Sponspor section style */
.Sponspor{
    text-align: center;
    margin-top: 50px;
}

.Sponspor-grup{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 50px;
}

/* responsiv */
@media screen and (max-width:776px) {
    .max-width{
        width: 100%;
        padding: 0 5px;
    }
    .Sponspor-grup{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer */
.color{
    background-color: #FFF4E7;
    margin: 40px;
    text-align: center;
}

/* responsive */
@media screen and (max-width:776px) {
    .max-width{
        width: 100%;
        padding: 0 5px;
    }
    .color{
        text-align: left;
    }
}